header {
	border-bottom-color: #7d97ad;
	border-bottom-style: solid;
	display: block;
	margin: 50px;
	height: 200px;
	margin-left: 200px;
}
.name {
	text-align: right;
	font-family: Calibri;
	font-size: 50px;
	margin: 10px;
	color: #2d3c49;
	padding-top: 5px;
}
.logo {
	float: left;
}
.designation {
	text-align: right;
	font-family: Calibri;
	font-size: 25px;
	margin: 10px;
	color: #2d3c49;
}